<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/NDWX/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="andrian@nd.id.au" />
			<add key="ClearTextPassword" value="f8d73ac2f58024b90e352d4499b2a3c5846b7159" />
		</github>
	</packageSourceCredentials>
</configuration>
